<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Roboto+Condensed&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-size: 62.5%;
      }

      body {
        background: linear-gradient(to right, #ffb6c1, #87ceeb);
      }

      .header {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 1.6rem 3.2rem;
      }

      .logo {
        height: 5.5rem;
      }

      .nav-link-box {
        display: flex;
        gap: 6rem;
        list-style: none;
        font-family: "Gabarito", sans-serif;
      }

      .nav-link:link,
      .nav-link:visited {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        color: #fff;
        transition: all 0.3s;
      }

      .nav-link:hover,
      .nav-link:active {
        transform: scale(1.4);
        color: greenyellow;
      }

      .container {
        text-align: center;
        padding: 2rem 4rem;
        max-width: 120rem;
        margin: 0 auto;
      }

      .heading-primary {
        font-size: 5rem;
        text-align: center;
        font-family: "Gabarito", sans-serif;
      }

      .text {
        margin-top: 3rem;
        line-height: 2;
        font-size: 3rem;
        text-align: center;
      }

      .btn {
        margin-top: 3rem;
        padding: 1.6rem 3.2rem;
        font-size: 2rem;
        background-color: rgb(59, 157, 241);
        color: white;
        border: none;
        transition: all 0.3s;
      }

      .btn:hover {
        background-color: #000000d3;
        transform: scale(1.05);
      }

      .link:visited,
      .link:link,
      .link:hover,
      .link:active {
        color: white;
        text-decoration: none;
      }

      @media (max-width: 700px) {
        .nav-link-box {
          gap: 2rem;
        }
      }

      @media (max-width: 450px) {
        html {
          font-size: 35%;
        }
      }
    </style>
    <title>Successfully Subscribed</title>
  </head>
  <body>
    <header class="header">
      <div class="header-img">
        <img src="img/logo.png" class="logo" alt="" srcset="" />
      </div>
      <nav class="nav">
        <ul class="nav-link-box">
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="/blogs" class="nav-link">Blogs</a></li>
          <li><a href="/subscribe" class="nav-link">Subscribe</a></li>
          <li><a href="/profile" class="nav-link">Profile</a></li>
          <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h1 class="heading-primary">Subscribed!</h1>
      <% if (alreadySubs) { %>
      <p class="text">
        Thanks for subscribing <%= firstName%> <%= lastName%>.<br />You will get
        weekly notifications on <%= email %>
      </p>
      <% } else { %>
      <p class="text">You are already our subscriber.</p>
      <% } %>
      <button class="btn">
        <a class="link" href="/">Go back &Rarr;</a>
      </button>
    </div>
  </body>
</html>
